<!--nagnocakeのログアウトのヘッダーのうつし-->
<li><%= button_to "ログアウト", destroy_customer_session_path, method: :delete, class:'btn btn-outline-Secondary btn-sm btn-block mb-3' %></li>

<h1>User::Users#show</h1>
<p>Find me in app/views/user/users/show.html.erb</p>
