<div class="container my-2">
  <div class="row">
    <div class="offset-md-2 col-md-8">

      <strong><h1 class="text-center mt-5">絶景とは</h1></strong></br>
      <h5 class="text-center">いわゆる絶景とは、素晴らしい景色や非常に美しい景色である</h5></br>
      <h5 class="text-center">世界遺産に登録される自然や街並みなどの文化がすぐに思い浮かぶ</h5></br>
      <h5 class="text-center">絶景写真とは旅好きにとっては至福の写真かもしれない</h5></br>
      <h5 class="text-center">ただ、そうではない人にとっての絶景、幸せとはなんだろう？</h5></br>
      <h5 class="text-center">そう思いこのサイトでの<strong>「絶景」</strong>とは</h4></br>
      <h5 class="text-center">自分にとって<strong>幸せ</strong>を感じる一枚の写真をそう呼ぶことにする</h4></br>
      <h5 class="text-center">自分だけの絶景の写真を共有する</h5></br>
      <h5 class="text-center">今まで知らなかった絶景を見て、新たな幸せの発見を</h5></br>
      <h5 class="text-center">今より少しでも多くの幸せを知り、豊かな人生になりますように</h5></br>
      <h5 class="text-center">知らなかった幸せを見つけ、たくさんの幸せの輪が広がってほしい</h4></br>
      <h5 class="text-center">そんなサイトです<i class="far fa-lightbulb ml-2"></i></i></h5></br>

      <div class="offset-md-4 col-md-4 mb-5"><%= link_to "もどる", root_path, class:'btn btn-secondary btn-block' %></div>
    </div>
  </div>
</div>


<!--<h1>User::Homes#about</h1>-->
<!--<p>Find me in app/views/user/homes/about.html.erb</p>-->
