<div class="cover align-middle">
<div class="container">
  <div class="text-center"><strong><h1>絶景とは</h1></strong></div>
    <div class="row">
      <div class="text-center"><h5>いわゆる絶景とは素晴らしい景色、非常に美しい景色である</h5></div>
      <div class="text-center"><h5>世界遺産に登録される自然や街並みなどの文化がすぐに思い浮かぶ</h5></div>
      <div class="text-center"><h5>絶景写真とは旅好きにとっては至福の写真かもしれない</h5></div>
      <div class="text-center"><h5>ただ、そうではない人にとっての絶景、幸せとはなんだろう？</h5></div>
      <div class="text-center"><h5>そう思い、このサイトでの<strong>「絶景」</strong>とは</h4></div>
      <div class="text-center"><h4>自分にとって<strong>幸せ</strong>を感じる一枚の写真をそう呼ぶことにする</h4></div>
      <div class="text-center"><h5>自分だけの絶景の写真を共有する</h5></div>
      <div class="text-center"><h5>今まで知らなかった絶景を見て、新たな幸せの発見を</h5></div>
      <div class="text-center"><h5>今より少しでも幸せの幅が広がって、豊かな人生になりますように</h5></div>
      <div class="text-center"><h4>知らなかった幸せを見つけ、たくさんの幸せの輪が広がってほしい</h4></div>
      <div class="text-center"><h5>そんなサイトです</h5></div>

      <div class="text-center"><%= link_to "もどる", root_path, class:'btn btn-outline-dark btn-sm' %></div>
     </div>
</div>


<!--<h1>User::Homes#about</h1>-->
<!--<p>Find me in app/views/user/homes/about.html.erb</p>-->
