<div class="container">
  <div class="text-center"><strong><h1>絶景とは</h1></strong></div>
    <div class="row">
      <div class="text-center"><h4>いわゆる絶景とは素晴らしい景色、非常に美しい景色である</h4></div>
      <div class="text-center"><h4>世界遺産に登録される街並みや自然などがすぐに思い浮かぶ</h4></div>
      <div class="text-center"><h4>絶景写真とは、旅好きにとっては至福の写真かもしれない</h4></div>
      <div class="text-center"><h4>ただ、そうではない人にとっての絶景とはなんだろう？</h4></div>
      <div class="text-center"><h4>そう思い、このサイトでの<strong>「絶景」</strong>とは</h4></div>
      <div class="text-center"><h4>自分にとって<strong>幸せ</strong>を感じる一枚の写真をそう呼ぶことにする</h4></div>
      <div class="text-center"><h4>自分だけの絶景の写真を共有する</h4></div>
      <div class="text-center"><h4>今まで知らなかった絶景を見て、幸せの発見を</h4></div>
      <div class="text-center"><h4>今より少しでも幸せの幅が広がって、豊かな人生になりますように</h4></div>
      <div class="text-center"><h4>ささやかな幸せを見つけ、たくさんの幸せの輪が広がってほしい</h4></div>
      <div class="text-center"><h4>そんなサイトです</h4></div>

      <li><%= link_to "もどる", root_path, class:'btn btn-outline-Dark btn-sm btn-block mb-3' %></li>

     </div>
</div>


<!--<h1>User::Homes#about</h1>-->
<!--<p>Find me in app/views/user/homes/about.html.erb</p>-->
