<div class="container">
  <div class = "row">
    <div class = "offset-md-1 col-md-10">
      <div class = "col text-center">
        <h5>会員一覧</h5>
      </div>
    <div class = "offset-md-2 col-md-8">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>会員ID</th>
            <th>名前</th>
            <th>ステータス</th>
            </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <th><%= user.id %></th>
              <th>
                <%= link_to admin_user_path(user.id) do %>
                <%= user.name %>
                <% end %>
              </th>
              <th>
                <% if user.is_deleted == true %>
                  退会
                <% else %>
                  有効
                <% end %>
              </th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!--<h1>Admin::Users#index</h1>-->
<!--<p>Find me in app/views/admin/users/index.html.erb</p>-->
